.intelligent-processing{

    h3{
        margin-bottom: 30px;
    }

    ul{
        padding: 0 40px;

        li{
            margin-bottom: 10px;

            &::marker {
            
                color: #EA3D2E;
                font-size: 28px;
            }
        }
    }
}