.first-screen{
    background-color: #DCE5E9;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-self: start;
    width: 100%;
    height: fit-content;
    
    section{
        width: 90%;
        padding: 0 82px 40px 88px;
        background-color: #fff;
        outline: #999 solid .5px;
        margin-bottom: 30px;
    }
}
