.main{
    outline: none;
    width: 100%!important;
    padding: 20px 82px 30px 88px!important;
    margin-bottom: -100px!important;
    header{
        display: flex;
        justify-content: space-between;
        a{
            padding: 0 8px 0 8px;
            font-size: 24px;
        }
    }
    .content{
        margin: 200px 0 400px 0;
        display: flex;
        justify-self: center;
        flex-direction: column;
        h2{margin-bottom: 20px;}
        p{color: #8D8D8A; margin-bottom: 42px;}
        
        button{
            width: fit-content;
        }
    }
}